#input-area{
    margin-top: 10px;
    margin-bottom: 30px;
    padding-left: 38%;
}
.meals{
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 0;
    justify-content: space-evenly;
}
.meals img{
    cursor: pointer;
}
#detail-area img{
    width: 300px;
    height: 300px;
}